/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    ...
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    ...
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    ...
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    ...
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    ...
} 

body{
  background-color: #ff1744;
  height: 70px;
  border: 50px 50px;
  border: solid: #ff1744;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
    body.darkclass h3,
    body.darkclass a {
        background-color: black;
        color: white;
    }

.rightNavContainer {
    position: absolute;
    right: 0;
    top: 0
}

    .rightNavContainer a {
        text-decoration: none;
        padding-right: 20px
    }

        .rightNavContainer a:hover {
            text-decoration: underline
        }

.themeToggle {
    cursor: pointer;
    fill: var(--text-color);
    border-left: solid var(--text-color) 1px;
    padding-left: 18px;
    vertical-align: middle;
    display: inline-block
}

@media screen and (max-width:900px) {
    .rightNavContainer a {
        padding-right: 10px
    }

    .themeToggle {
        padding-left: 13px;
    }
}

#darkMode {
    --bg-color: #292a2d;
    --text-color: #E1C564;
    --navbar-bg-color: #252627;
    --hover-bg-color: #4a4c4e
}

#lightMode {
    --bg-color: #fff;
    --text-color: #008080;
    --navbar-bg-color: #ededed;
    --hover-bg-color: #dddbdb
}

header{
  background-color: #0d47a1;
  color: white;
  height: 70px;
  border: 50px 50px;
  border: solid: #ffffff;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
background: rgba(0, 0, 0, 0);
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #AARRGGBB;
  color: white;
}

