@font-face {
    font-family: 'SF UI Display Light';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Light'), url('../fonts/sf-ui-display-light-58646b33e0551.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Display Medium';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Medium'), url('../fonts/sf-ui-display-medium-58646be638f96.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Display Bold';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Bold'), url('../fonts/sf-ui-display-bold-58646a511e3d9.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Display Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Heavy'), url('../fonts/sf-ui-display-heavy-586470160b9e5.woff') format('woff');
}


/*
Gray: #8e8e93
*/

html {
    font-family: "SF UI Display Medium";
    width: auto;
}

div {
    display: block;
}

a {
    font-family: inherit;
    -webkit-transition: all 300ms cubic-bezier(0.505, 0.005, 0.250, 1.000);
    -moz-transition: all 300ms cubic-bezier(0.505, 0.005, 0.250, 1.000);
    -o-transition: all 300ms cubic-bezier(0.505, 0.005, 0.250, 1.000);
    transition: all 300ms cubic-bezier(0.505, 0.005, 0.250, 1.000);
    /* custom */
    color: #8e8e93;
}

a:hover {
    color: #8080ff;
}

button {
    color: #ffffff;
    outline: none;
    padding: 11px 16px;
    background-color: #8080ff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 800;
    -webkit-transition: all 300ms cubic-bezier(0.505, 0.005, 0.250, 1.000);
    -moz-transition: all 300ms cubic-bezier(0.505, 0.005, 0.250, 1.000);
    -o-transition: all 300ms cubic-bezier(0.505, 0.005, 0.250, 1.000);
    transition: all 300ms cubic-bezier(0.505, 0.005, 0.250, 1.000);
}

button:hover {
    opacity: 80%;
}

.buttons {
    padding: 10vh 0;
    text-align: center;
}

.big-button {
    padding: 5px;
    display: block;
    -webkit-transition: all 300ms cubic-bezier(0.505, 0.005, 0.250, 1.000);
    -moz-transition: all 300ms cubic-bezier(0.505, 0.005, 0.250, 1.000);
    -o-transition: all 300ms cubic-bezier(0.505, 0.005, 0.250, 1.000);
    transition: all 300ms cubic-bezier(0.505, 0.005, 0.250, 1.000);
}

.big-button button {
    padding: 20px 70px;
    font-size: 20px;
    font-family: "SF UI Display Bold";
}

.big-button:hover {
    transform: scale(1.05);
}

.red-button button {
    background-color: #E23838;
}

h1 {
    text-align: center;
    font-family: "SF UI Display Heavy";
    font-size: 100px;
}

h2 {
    font-family: "SF UI Display Heavy";
    font-size: 50px;
    margin-bottom: 50px;
}

h3 {
    font-family: "SF UI Display Heavy";
    font-size: 30px;
    color: gray;
}

p {
    font-family: "SF UI Display Light";
    font-size: 30px;
}

li a {
    color: #A3AAAE;
    height: auto;
    width: auto;
}

li,
a,
button {
    text-decoration: none;
}

section {
    padding-left: 12vw;
    padding-right: 12vw;
    padding-top: 20vh;
    padding-bottom: 10vh;
    min-height: 80%;
    overflow: auto;
}

section .text {
    padding-top: 10%;
}

section .column {
    float: left;
    width: 50%;
}

section .image-container {
    text-align: right;
}

section img {
    width: 50vh;
    max-width: 600px;
    -webkit-transition: all 300ms cubic-bezier(0.505, 0.005, 0.250, 1.000);
    -moz-transition: all 300ms cubic-bezier(0.505, 0.005, 0.250, 1.000);
    -o-transition: all 300ms cubic-bezier(0.505, 0.005, 0.250, 1.000);
    transition: all 300ms cubic-bezier(0.505, 0.005, 0.250, 1.000);
}

section img:hover {
    transform: scale(1.05);
}

section h2,
section h3 {
    text-align: center;
    -webkit-transition: all 300ms cubic-bezier(0.505, 0.005, 0.250, 1.000);
    -moz-transition: all 300ms cubic-bezier(0.505, 0.005, 0.250, 1.000);
    -o-transition: all 300ms cubic-bezier(0.505, 0.005, 0.250, 1.000);
    transition: all 300ms cubic-bezier(0.505, 0.005, 0.250, 1.000);
}

section h2:hover,
section h3:hover {
    transform: scale(1.05);
}

.nav-container {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10%;
    letter-spacing: 3px;
    width: auto;
    height: 75px;
    background-color: rgba(236, 238, 255, 0.95);
    z-index: 99;
    position: sticky;
    top: 0;
}

.nav__links li {
    display: inline-flex;
    padding: 0px 1vw;
}

.nav__links li {
    font-family: "SF UI Display Bold";
}

.nav__links {
    display: flex;
    list-style: none;
    margin: 0 13vw;
}

#home {
    display: block;
}

#home h1 {
    padding-top: 4vw;
}

#home h3 {
    text-align: center;
}

#about {
    background-color: #ECEEFF;
}

#features {
    background-color: black;
}

#features h2,
#features p {
    color: white;
}

#performance {
    background-color: #ECEEFF;
}

#logo {
    width: 35px;
    border-radius: 30%;
    cursor: pointer;
    -webkit-transition: all 300ms cubic-bezier(0.505, 0.005, 0.250, 1.000);
    -moz-transition: all 300ms cubic-bezier(0.505, 0.005, 0.250, 1.000);
    -o-transition: all 300ms cubic-bezier(0.505, 0.005, 0.250, 1.000);
    transition: all 300ms cubic-bezier(0.505, 0.005, 0.250, 1.000);
    /* custom */
}

#logo:hover {
    opacity: 80%;
}

@media screen and (max-width: 545px) {
    h1 {
        font-size: 15vw;
    }

    h2 {
        font-size: 35px;
    }

    h3 {
        font-size: 5vw;
    }

    p {
        font-size: 20px;
    }

    .big-button button {
        padding: 20px 35px;
        font-size: 4vw;
    }

    section {
        padding-top: 10vh;
    }
}

@media screen and (max-width: 1050px) {
    section .column {
        width: 100%;
        text-align: center;
    }

    section img {
        width: 100%;
    }
}