body {
  height: 70px;
  border: 50px 50px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  color: #ff9e00;
  padding: 20px;
}


html {
  background: linear-gradient(rgba(0, 0, 0, 0.555), rgba(0, 0, 0, 0.555)), url(../images/background/ios-13-red-white.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

* {
  box-sizing: border-box;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row>.column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.table {
  color: rgb(0, 0, 0);
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.td {
  font-style: oblique;
}


.jailbreak-images {
  width: 70px;
  height: 70px;
}

.th {
  text-align: center;
  column-count: 1;
}

#Logo {
  width: 180px;
  border-radius: 30%;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

#Logo:hover {
  opacity: 80%;
}

.account-text {
  color: #ffffff;
}

.footer {
  padding-left: 710px;
}

.thanks {
  text-align: center;
}
.footer-icons {
	align-content:center;
}
