/* Add a cream background color to the top navigation */
.topnav {
  background-color: #00000000;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f5b33a;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ffe262;
  color: #f5b33a;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #ffe262;
  color: #f5b33a;
}
