body{
  height: 70px;
  border: 50px 50px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  color: #ff9e00;
}

header{
  background-color: #0d47a1;
  color: white;
  height: 70px;
  border: 50px 50px;
  border: solid #ffffff;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

html {
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.555),
      rgba(0, 0, 0, 0.555)
    ),
    url(../images/background/ios-13-red-white.jpg);
}

